* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 130px;
}
.header-menu {
  color: white;
  padding: 22px 22px;
  background-color: black;
  font-weight: 500;
}
.menu {
  justify-content: center;
  align-items: center;
}
.menu-header {
  justify-content: center;
  align-items: center;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.banner {
  background-color: #b22d24;
  color: white;
  padding: 52px 52px;
}

.content {
  padding: 102px 52px;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 50px;
  text-transform: uppercase;
}
.display-3 {
  font-weight: 700;
}
.music-system {
  padding-top: 30px;
  background-color: black;
  color: white;
}
.perm {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: white;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 5px 0px 5px;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}
.music-banner {
  border-radius: 10px;
}
.wynk-ms {
  font-size: 12px;
}
.btn {
  padding: 12px 12px;
}
.option-btn {
  font-size: 13px;
  border-radius: 20px;
}
.option-btn:hover {
  background-color: rgba(206, 204, 204, 0.509);
}
.activ-btn {
  background-color: red;
  transition: all 0.3s;
}
.activ-btn:hover {
  background-color: #b22d24;
}
.col-sm-3 {
  padding: 0px;
}
.col-sm-4 {
  padding: 0px;
}
.music-playlists {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.col-sm-10 {
  padding: 0px;
}
.col-sm-10 img {
  border-radius: 20px;
  margin-right: 10px;
}
