* {
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding-left: 0;
}
.icon {
  width: 28px;
  height: 28px;
}
.menu {
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100vw;
}
