* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075);
  height: 80px;
}
.row {
  align-items: center;
  font-weight: 500;
}
.menu1 {
  font-size: 12px;
}
.logo img {
  width: 50px;
}
.item {
  text-transform: uppercase;
}
.input {
  width: 480px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  border: 0.1mm solid rgba(125, 121, 121, 0.653);
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(245, 245, 245);
}
.input:hover,
.input:active {
  background-color: white;
  transition: all 0.3s;
}
input:focus {
  outline: none !important;
}
.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.banner {
  margin-top: 30px;
}
.banner-img {
  width: 100vw;
  height: 70vh;
}
.dtd {
  margin-top: 20px;
  padding: 0px 20px 0px 20px;
}
.heading {
  text-transform: uppercase;
  font-size: 20px;
}
.dtd-products {
  margin-top: 20px;
}
